<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604742823103-sbk9j5if6066mj7ad4ae3uuakkst38n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604742823103-sbk9j5if6066mj7ad4ae3uuakkst38n8</string>
	<key>API_KEY</key>
	<string>AIzaSyAIIo2bxlyV4vsoDJikkwNdg_TLP406d7s</string>
	<key>GCM_SENDER_ID</key>
	<string>604742823103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.MeetMe</string>
	<key>PROJECT_ID</key>
	<string>meetme-3980c</string>
	<key>STORAGE_BUCKET</key>
	<string>meetme-3980c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604742823103:ios:7936f557d625305475aa0a</string>
</dict>
</plist>